@tailwind base;
@tailwind components;
@tailwind utilities;



.exo-2-thin {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.exo-2-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.exo-2-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exo-2-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.exo-2-black {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.exo-2-thin-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.exo-2-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.exo-2-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.exo-2-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.exo-2-black-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html {
  font-family: 'Chakra Petch';
}

.btn {
  text-transform: none;
}

/* SplitText-like characters used for letter-by-letter animations */
.split-char {
  display: inline-block;
  white-space: pre;
}